# Pertemuan 2 Machine Learning

##### Egy Vedriyanto
##### 2117051035
##### Kelas B


## Library

Library mlxtend

In [48]:
#install library mlxtend

!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.22.4)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.5.3)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (23.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (7.1.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.17.1->mlxtend) (2022.7.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib>=1.5.1->mlxtend) (1.15.0)

In [49]:
import pandas as pd
import numpy as np

#import apriori from library mlxtend
from mlxtend.frequent_patterns import apriori, association_rules

## Dataset
- Membuat Dataset transaksi sebagai dataframe
- Cek Dataset transaksi

In [50]:
#Membuat data tabular yang terdiri dari data transaksi
df = pd.DataFrame(
    {
        "ID Transaksi": pd.Series([1, 2, 3, 4, 5]),
        "Item": pd.Series([["Susu", "Roti", "Biskuit", "Mentega"], \
                           ["Susu", "Biskuit", "Gula", "Kopi"], \
                           ["Gula", "Kopi", "Susu"], \
                           ["Kopi", "Biskuit", "Susu", "Gula"], \
                           ["Mentega", "Roti", "Kopi"]])
    }
)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID Transaksi  5 non-null      int64
 1   Item          5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [52]:
df

   ID Transaksi                            Item
0             1  [Susu, Roti, Biskuit, Mentega]
1             2     [Susu, Biskuit, Gula, Kopi]
2             3              [Gula, Kopi, Susu]
3             4     [Kopi, Biskuit, Susu, Gula]
4             5           [Mentega, Roti, Kopi]

## Encoding data transaksi

In [53]:
df = df.explode('Item')
df

   ID Transaksi     Item
0             1     Susu
0             1     Roti
0             1  Biskuit
0             1  Mentega
1             2     Susu
1             2  Biskuit
1             2     Gula
1             2     Kopi
2             3     Gula
2             3     Kopi
2             3     Susu
3             4     Kopi
3             4  Biskuit
3             4     Susu
3             4     Gula
4             5  Mentega
4             5     Roti
4             5     Kopi

In [54]:
basket = (df.groupby(['ID Transaksi', 'Item'])['Item'].count()\
                                              .unstack().reset_index().fillna(0)\
                                              .set_index('ID Transaksi'))
basket.head()

Item          Biskuit  Gula  Kopi  Mentega  Roti  Susu
ID Transaksi
1                 1.0   0.0   0.0      1.0   1.0   1.0
2                 1.0   1.0   1.0      0.0   0.0   1.0
3                 0.0   1.0   1.0      0.0   0.0   1.0
4                 1.0   1.0   1.0      0.0   0.0   1.0
5                 0.0   0.0   1.0      1.0   1.0   0.0

In [55]:
#@title
df_encode = df.groupby("Item")["Item"].count().reset_index(name = "Count")
df_encode

      Item  Count
0  Biskuit      3
1     Gula      3
2     Kopi      4
3  Mentega      2
4     Roti      2
5     Susu      4

## Algoritma Apriori

### Apriori Tahap 1

Eliminasi itemset berdasarkan minimum support

In [56]:
#set minimum support 60%
frequent_itemsets = apriori(basket, min_support=0.6, use_colnames=True)

#print(list(frequent_itemsets))
frequent_itemsets

   support            itemsets
0      0.6           (Biskuit)
1      0.6              (Gula)
2      0.8              (Kopi)
3      0.8              (Susu)
4      0.6     (Susu, Biskuit)
5      0.6        (Kopi, Gula)
6      0.6        (Susu, Gula)
7      0.6        (Kopi, Susu)
8      0.6  (Kopi, Susu, Gula)

### Apriori Tahap 2

Perhitungan Confidence

In [57]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
rules[["antecedents", "consequents", "support", "confidence"]]

     antecedents   consequents  support  confidence
0         (Susu)     (Biskuit)      0.6        0.75
1      (Biskuit)        (Susu)      0.6        1.00
2         (Kopi)        (Gula)      0.6        0.75
3         (Gula)        (Kopi)      0.6        1.00
4         (Susu)        (Gula)      0.6        0.75
5         (Gula)        (Susu)      0.6        1.00
6         (Kopi)        (Susu)      0.6        0.75
7         (Susu)        (Kopi)      0.6        0.75
8   (Kopi, Susu)        (Gula)      0.6        1.00
9   (Kopi, Gula)        (Susu)      0.6        1.00
10  (Susu, Gula)        (Kopi)      0.6        1.00
11        (Kopi)  (Susu, Gula)      0.6        0.75
12        (Susu)  (Kopi, Gula)      0.6        0.75
13        (Gula)  (Kopi, Susu)      0.6        1.00

## Tugas 2 Machine Learning

### Algoritma Apriori

Jika minimum support adalah 40%

In [58]:
#set minimum support 40%
frequent_itemsets = apriori(basket, min_support=0.4, use_colnames=True)
frequent_itemsets

    support                     itemsets
0       0.6                    (Biskuit)
1       0.6                       (Gula)
2       0.8                       (Kopi)
3       0.4                    (Mentega)
4       0.4                       (Roti)
5       0.8                       (Susu)
6       0.4              (Biskuit, Gula)
7       0.4              (Kopi, Biskuit)
8       0.6              (Susu, Biskuit)
9       0.6                 (Kopi, Gula)
10      0.6                 (Susu, Gula)
11      0.6                 (Kopi, Susu)
12      0.4              (Roti, Mentega)
13      0.4        (Kopi, Biskuit, Gula)
14      0.4        (Susu, Biskuit, Gula)
15      0.4        (Kopi, Biskuit, Susu)
16      0.6           (Kopi, Susu, Gula)
17      0.4  (Kopi, Biskuit, Susu, Gula)

In [59]:
#Confidence Counting

rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.4)
rules[["antecedents", "consequents", "support", "confidence"]]

              antecedents            consequents  support  confidence
0               (Biskuit)                 (Gula)      0.4    0.666667
1                  (Gula)              (Biskuit)      0.4    0.666667
2                  (Kopi)              (Biskuit)      0.4    0.500000
3               (Biskuit)                 (Kopi)      0.4    0.666667
4                  (Susu)              (Biskuit)      0.6    0.750000
5               (Biskuit)                 (Susu)      0.6    1.000000
6                  (Kopi)                 (Gula)      0.6    0.750000
7                  (Gula)                 (Kopi)      0.6    1.000000
8                  (Susu)                 (Gula)      0.6    0.750000
9                  (Gula)                 (Susu)      0.6    1.000000
10                 (Kopi)                 (Susu)      0.6    0.750000
11                 (Susu)                 (Kopi)      0.6    0.750000
12                 (Roti)              (Mentega)      0.4    1.000000
13              (Mentega)                 (Roti)      0.4    1.000000
14        (Kopi, Biskuit)                 (Gula)      0.4    1.000000
15           (Kopi, Gula)              (Biskuit)      0.4    0.666667
16        (Biskuit, Gula)                 (Kopi)      0.4    1.000000
17                 (Kopi)        (Biskuit, Gula)      0.4    0.500000
18              (Biskuit)           (Kopi, Gula)      0.4    0.666667
19                 (Gula)        (Kopi, Biskuit)      0.4    0.666667
20        (Susu, Biskuit)                 (Gula)      0.4    0.666667
21           (Susu, Gula)              (Biskuit)      0.4    0.666667
22        (Biskuit, Gula)                 (Susu)      0.4    1.000000
23                 (Susu)        (Biskuit, Gula)      0.4    0.500000
24              (Biskuit)           (Susu, Gula)      0.4    0.666667
25                 (Gula)        (Susu, Biskuit)      0.4    0.666667
26        (Kopi, Biskuit)                 (Susu)      0.4    1.000000
27           (Kopi, Susu)              (Biskuit)      0.4    0.666667
28        (Susu, Biskuit)                 (Kopi)      0.4    0.666667
29                 (Kopi)        (Susu, Biskuit)      0.4    0.500000
30              (Biskuit)           (Kopi, Susu)      0.4    0.666667
31                 (Susu)        (Kopi, Biskuit)      0.4    0.500000
32           (Kopi, Susu)                 (Gula)      0.6    1.000000
33           (Kopi, Gula)                 (Susu)      0.6    1.000000
34           (Susu, Gula)                 (Kopi)      0.6    1.000000
35                 (Kopi)           (Susu, Gula)      0.6    0.750000
36                 (Susu)           (Kopi, Gula)      0.6    0.750000
37                 (Gula)           (Kopi, Susu)      0.6    1.000000
38  (Kopi, Biskuit, Susu)                 (Gula)      0.4    1.000000
39  (Kopi, Biskuit, Gula)                 (Susu)      0.4    1.000000
40     (Kopi, Susu, Gula)              (Biskuit)      0.4    0.666667
41  (Susu, Biskuit, Gula)                 (Kopi)      0.4    1.000000
42        (Kopi, Biskuit)           (Susu, Gula)      0.4    1.000000
43           (Kopi, Susu)        (Biskuit, Gula)      0.4    0.666667
44           (Kopi, Gula)        (Susu, Biskuit)      0.4    0.666667
45        (Susu, Biskuit)           (Kopi, Gula)      0.4    0.666667
46        (Biskuit, Gula)           (Kopi, Susu)      0.4    1.000000
47           (Susu, Gula)        (Kopi, Biskuit)      0.4    0.666667
48                 (Kopi)  (Susu, Biskuit, Gula)      0.4    0.500000
49              (Biskuit)     (Kopi, Susu, Gula)      0.4    0.666667
50                 (Susu)  (Kopi, Biskuit, Gula)      0.4    0.500000
51                 (Gula)  (Kopi, Biskuit, Susu)      0.4    0.666667

### Algoritma Apriori (Manual)
- Implementasi algoritma apriori secara manual
- Menggunakan fungsi user defined

#### Data Set

In [67]:
# Inisiasi isi dari Dataset
DATASET = (('Ayam', 'Telur'), \
           ('Ayam', 'Ikan', 'Sapi'), \
           ('Telur', 'Bebek', 'Rusa'), \
           ('Ayam', 'Telur', 'Ikan'), \
           ('Telur', 'Ikan', 'Bebek', 'Kambing'))

#### Minimum Support and Confidence

In [76]:
#Inisiasi minimum support
#Minsup 1-5
minsup = int(input("Minimum support\t\t : "))
min_support = minsup

#Inisiasi minimum confidence
#Mincof 0.1 sampai 1.0
mincof = float(input("Minimum confidence\t : "))
min_confidence = mincof

Minimum support		 : 2
Minimum confidence	 : 0.5

#### Iterasi I

In [77]:
#Memanggil library combination
from itertools import combinations as comb

#Membuat variale <frequent> bertipe dictionary
frequent = dict()

#Memasukkan data yang sesuai dengan minimum support ke dalam Frequent
for itemset in DATASET:
    for i in itemset:
        frequent[i] = frequent.get(i,0) + 1
for item in list(frequent):
    if frequent[item]<min_support:
        del frequent[item]

In [78]:
#Mulai mengkombinasikan tiap item dan membuang kombinasi yang muncul dibawah 2 atau 40%
items = list(frequent.keys())
support = [frequent]

for i in range(2,len(items)):
    s = dict()
    for combo in comb(items,i):
        for itemset in DATASET:
            if set(combo).issubset(itemset):
                s[combo] = s.get(combo,0) + 1
        if s.get(combo) and s[combo]<min_support:
            del s[combo]
    if not s:
        break
    support.append(s)
support

[{'Ayam': 3, 'Telur': 4, 'Ikan': 3, 'Bebek': 2},
 {('Ayam', 'Telur'): 2,
  ('Ayam', 'Ikan'): 2,
  ('Telur', 'Ikan'): 2,
  ('Telur', 'Bebek'): 2}]

#### Iterasi II

In [79]:
#rules dibuat untuk variable dictionary yang akan menampung confidence dari data set
rules = dict()
for combo in support[-1]:
    for item in combo:
        c = list(combo)
        c.remove(item)
        len_c = len(c)
        c = c[0] if len_c == 1 else tuple(c)

        rule_1 = support[-1][combo]/support[0][item]
        rule1 = "{:.2f}".format(rule_1)

        rule_2 = support[-1][combo]/support[len_c-1][c]
        rule2 = "{:.2f}".format(rule_2)

        if rule_1>=min_confidence: rules[f"{item}->{c}"] = rule1
        if rule_2>=min_confidence: rules[f"{c}->{item}"] = rule2
rules

{'Ayam->Telur': '0.67',
 'Telur->Ayam': '0.50',
 'Ayam->Ikan': '0.67',
 'Ikan->Ayam': '0.67',
 'Telur->Ikan': '0.50',
 'Ikan->Telur': '0.67',
 'Telur->Bebek': '0.50',
 'Bebek->Telur': '1.00'}

#### Kekurangan dari code

- Data yang terlalu sedikit
- Code yang dibuat belum begitu rapih sehingga masih sedikit sulit dipahami
- Belum bisa dikonversikan ke Pandas -> My Skill Issue :)

In [80]:
# Ini tampilan yang akan dihasilkan jika di run menggunakan pandas (syntax yang saya ketahui)
import pandas as pd

df = pd.DataFrame(support)
df

,Ayam,Telur,Ikan,Bebek,"(Ayam, Telur)","(Ayam, Ikan)","(Telur, Ikan)","(Telur, Bebek)"
0,3.0,4.0,3.0,2.0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0

In [66]:
    # Oke saya tau ini error :)
    # Saya minta maaf, saya akan perbaiki kedepannya seiring bertambahnya pengetahuan saya dalam python.
    # Terima Kasih